/*.idea
.DS_Store
/.Build/*
/.fleet
/.php-cs-fixer.cache
/.phpunit.result.cache
/.php_cs.cache
/Documentation-GENERATED-temp/
/composer.lock
/nbproject
/var
/build
/clover.xml
/node_modules/
/package-lock.json
/yarn-error.log
/yarn.lock
Build/testing-docker/.env
